<div>

<div *ngIf="filteredIngredientList.length!=0">
<p *ngIf="ingredientList!=undefined">
You're missing {{ filteredIngredientList.length }} ingredients!
<button mat-raised-button color="warn" (click)="onClick()"> Which ones?</button>
</p>
</div>

<div *ngIf="filteredIngredientList.length==0">
<p>
Great! You have all the ingredients for this one!
</p>
</div>

<div name="ingredients" *ngIf="isHidden!=false">
<p *ngFor="let ingred of filteredIngredientList">
  <small><i>
  {{ ingred }}
  </i></small>
</p>
<p></p>
</div>

<div class="search-buttons">
    <button mat-flat-button (click)="onShare()">Tell someone!</button>
    <button mat-flat-button (click)="onPrint()" *ngIf="filteredIngredientList.length!=0">Print shopping list!</button>
</div>

<p></p>

</div>
