<div>

  <div *ngIf="filteredIngredientList.length!=0">
    <div *ngIf="ingredientList!=undefined" title="Click to see/hide which ones!">
      <button mat-raised-button color="warn" (click)="onClick()">
        You're missing {{ filteredIngredientList.length }} ingredients!
      </button>
    </div>
    <p></p>
  </div>

<div *ngIf="filteredIngredientList.length==0">
  <button mat-raised-button color="accent">
    Great! You have all the ingredients for this one!
  </button>
  <p></p>
</div>

<div name="ingredients" *ngIf="isHidden!=false">
<p *ngFor="let ingred of filteredIngredientList">
  <small><i>
  {{ ingred }}
  </i></small>
</p>
<p></p>
</div>

<div class="search-buttons">
    <button mat-flat-button (click)="onShare()">Tell someone!</button>
    <button mat-flat-button (click)="onPrint()" *ngIf="filteredIngredientList.length!=0">Print shopping list!</button>
</div>

<p></p>

</div>
