<div>

<div *ngIf="filteredIngredientList.length!=0">
<p *ngIf="ingredientList!=undefined">
You're missing {{ filteredIngredientList.length }} ingredients!
<button (click)="onClick()"> Which ones?</button>
</p>
</div>

<div *ngIf="filteredIngredientList.length==0">
<p>
Great! You have all the ingredients for this one!
</p>
</div>

<div name="ingredients" *ngIf="isHidden!=false">
<ul *ngFor="let ingred of filteredIngredientList">
  <li><small><i>
  {{ ingred }}
  </i></small></li>
</ul>
<p></p>
</div>

<button (click)="onShare()">Tell someone!</button>
<button (click)="onPrint()">Print shopping list!</button>

<p></p>

</div>
